<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2 class="text-center">Lista Usuário</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Username</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td> {{ usuario?.nome }} </td>
                <td> {{ usuario?.sobrenome }} </td>
                <td> {{ usuario?.username }} </td>
                <td>
                    <button (click)="updateUsuario(usuario?.id)" class="btn btn-info">Atualizar</button>
                    <button (click)="deleteUsuario(usuario?.id)" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>