<div class="container">
    <h2 class="text-center">Atualizar Usuário</h2>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="nome"> Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="usuario.nome" name="nome">
        </div>
        <div class="form-group">
            <label for="sobrenome"> Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" [(ngModel)]="usuario.sobrenome" name=" sobrenome ">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="usuario.username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="usuario.password" name="password">
        </div>

        <button class="btn btn-success mt-2" type="submit">Atualizar</button>
     </form>